body
{
    margin: 0;
    background-color: white;
    overflow: auto !important;
    color: black;
    display: flex;
}

nav
{
    background-color: #156082;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 30%;
    color: white;
    position: absolute;
    height: 100%;
}

nav ul
{
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav li, nav a
{
    display: block;
}

nav a
{
    letter-spacing: 3px;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 500ms;
    color: white;
    padding: 8px;
    margin: 0px 0px 0px 40px;
}

nav a:hover:not(.active)
{
    transform: scale(1.15);
}

nav li.active a:hover
{
    transform: none;
    text-decoration: none;
    color:white;
}
nav a:focus {
    color: white;
    text-decoration: none;
}

nav a.active
{
    transform: none;
}

nav li.active
{
    background-color: rgba(196, 196, 196, 0.37);
    border-radius: 8px;
}

.contentWrapper{
    width:70%;
    text-align: center;
    position: absolute;
    right: 0;
    overflow:auto;
}

.contentWrapper h1
{
    padding:40px;
}
.interactiveBoxesDiv
{
    width: 60%;
    margin:auto;
    padding: 40px;

}
.exerciseBox
{
    background-color: #156082;
    height: 4em;
    margin: 2px;
    border-radius: 25px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    width: 100%;

}

.exerciseText
{
    color: white;
    font-size: 2em;
    text-align: center;
}

#addExerciseBox
{
    background-color: white;
    border: #156082 solid;
    margin: 2px;
    border-radius: 25px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    color:#156082;
    font-size: 2em;
    text-align: center;
    width:90%;
}

.exerciseDiv
{
    display:flex;
}

.exerciseDiv span
{
    padding: 20px;
    color:#156082;
    width:10%;
}

.editPageDiv
{
    display:block;
    
}

#progressWrapper
{
    display:flex;
    padding: 20px;
}

#summaryDiv
{
    width: 30%;
    display:block;
    padding: 20px;
}

#progressGraph
{
    width: 70%;
    padding: 20px;
}

.progressRecords
{
    font-size: 1.5em;
    min-height: 40px;
}

#progressTimeFrame
{
    padding: 15px;
    color: #156082;
    display:flex;
    justify-content: center;
}

#progressTimeFrame div
{
    padding: 25px;
    color: #156082;
    font-size: 2em;
}

/* Zach's added styling used for account-related items */
p.warning
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1px;
    padding: 10px;
    background-color: rgba(200,0,0,.5);
    width: 75%;
    border-radius: 8px;
    color: white;
    font-size: 25px;
}

.button-group input
{
    margin: 10px 10px -5px;
}

.button-group input[type="submit"],
.button-group button[type="button"]
{
    background-color: #95b5cf;
    color: black;
    border: none;
    cursor: pointer;
    margin: 10px 10px -5px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 500ms;
}

.button-group button[type="lonely-button"]
{
    background-color: #95b5cf;
    color: black;
    border: none;
    cursor: pointer;
    margin: -5px 10px -5px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 500ms;
}

.button-group input[type="submit"]:hover,
.button-group button[type="button"]:hover,
.button-group button[type="lonely-button"]:hover
{
    background-color: #4b6c93;
    transform: scale(1.15);
    transition: transform 500ms;
}

.button-group input[type="submit"]:disabled
{
    background-color: #777777;
    color: black;
    cursor: not-allowed;
    transform: scale(1);
    transition: none;
}

.button-group input[type="reset"]
{
    background-color: #bababa;
    color: black;
    border: none;
    cursor: pointer;
    margin: 10px 10px -5px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: transform 500ms;
}

.button-group input[type="reset"]:hover
{
    background-color: #969696;
    transform: scale(1.15);
    transition: transform 500ms;
}

.workoutDetails
{
    display:flex;
}

.workoutBox
{
    background-color: #156082;
    height: 4em;
    margin: 2px;
    border-radius: 25px;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    width: 100%;

}

.workoutText
{
    color: white;
    font-size: 2em;
    text-align: center;
}

.workoutText 
{
    
}